<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <!-- <form action="/profile/create" method="post" id="profileForm">
      <h1>Complete Your Profile</h1>

      <label for="firstName">Firstname</label><br />
      <input type="text" name="firstName" placeholder="Firstname..." /><br />

      <label for="lastName">Lastname</label><br />
      <input type="text" name="lastName" placeholder="Lastname..." /><br />

      <label for="gender">Gender</label><br />
      <select name="gender" form="profileForm">
        <option value="">---SELECT---</option>
        <% gender.forEach((el) => { %>
        <option value="<%= el %>"><%= el %></option>
        <% }); %>
      </select><br /><br />

      <input type="submit" value="Submit" />
    </form> -->

    <%- include('./layouts/header.ejs') %>
<%- include('./layouts/navbar.ejs') %>
<div>
  <%- include('./layouts/styleregister.ejs') %>
    
    <!-- <h1>Register</h1> -->
    <div class="form-body">
      <div class="row justify-content-center">
          <div class="form-holder">
              <div class="form-content">
                  <div class="form-items">
                      <h3>Create your Profile</h3>
                      <p>Fill in the data below.</p>
                      <form class="requires-validation" novalidate action="/profile/create" method="post" id="profileForm">

                          <div class="col-md-12 mt-3  ">
                              <input class="form-control" type="text" name="firstName" placeholder="firstName" required>
                               <div class="valid-feedback">firstName field is valid!</div>
                               <div class="invalid-feedback">firstName field cannot be blank!</div>
                          </div>
                          <div class="col-md-12 mt-3  ">
                            <input class="form-control" type="text" name="lastName" placeholder="lastName" required>
                             <div class="valid-feedback">lastName field is valid!</div>
                             <div class="invalid-feedback">lastName field cannot be blank!</div>
                        </div>


                         <div class="col-md-12">
                              <select class="form-select mt-3" name="gender">
                                    <option selected disabled value="">gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                             </select>
                              <div class="valid-feedback">You selected a Gender!</div>
                              <div class="invalid-feedback">Please select a Gender!</div>
                         </div>


                         

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label">I confirm that all data are correct</label>
                       <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                      </div>
                

                          <div class="form-button mt-3">
                              <button id="submit" type="submit" class="btn btn-primary"  value="submit">Register</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script>
    (function () {
    'use strict'
    const forms = document.querySelectorAll('.requires-validation')
    Array.from(forms)
    .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>
    
    <%- include('./layouts/footer.ejs') %>

  </body>
</html>
