
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hactiv88 Home Page</title>
    <%- include('./layouts/mainpage.ejs') %>
  </head>

  <%- include('./layouts/navbar.ejs') %>
  <body class="background-color: #001220;">
    <!-- <div>
      <% if(!isAdmin && !isUser) { %>
      <a href="/login"><h2>Login</h2></a>
      <a href="/register"><h2>Register</h2></a>
      <% } else if(isAdmin || isUser) { %>
      <a href="/"><h2>Home</h2></a>
      <% } %>

      <a href="/profile"><h2>Profile</h2></a>
    </div> -->
    <div class="main">
      <div class="cardutama">
        <h1>Hactiv88</h1>
      </div>

      <div class="sapa">
        <% if(userName != null) { %>
          <h1>Halo!!! <%= userName %></h1>
          <% } %>
      </div>

      <div class="button1 mt-5">
        <a class="btn btn-outline-warning mr-5" href="/course/all" role="button">Our Courses</a>
        <% if(isUser) { %>
        <a href="/course/user/<%= userId %>" class="btn btn-outline-warning mr-5" role="button">Your Courses</a>
        <% } %>
        <a href="/contactUs" class="btn btn-outline-warning mr-5" role="button">contact us</a>

      </div>
    </div>

   
    

    
  </body>
</html>

<%- include('./layouts/header.ejs') %>
<%- include('./layouts/footer.ejs') %>

