<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail</title>
    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 16px;
            margin-bottom: 16px;
        }

        body{
          background-image: url(https://i.ibb.co/c2xwWLS/layered-waves-haikei-1.png);
          background-size: cover;
        }

        .btn {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<%- include('./layouts/header.ejs') %>
<%- include('./layouts/navbar.ejs') %>

<body>

    <div class="card">
        <h3>Course</h3>
        <p><strong>Category:</strong> <%= data.Category.name %></p>
        <p><strong>Description:</strong> <%= data.description %></p>
        <p><strong>PDF:</strong> <button><a href="/invoice">Download Detail</a></button></p>
        <p><strong>Duration:</strong> <%= time(data.duration) %></p>
    </div>

    <% if (!isUser) { %>
    <a href="/">
        <button class="btn" style="background-color: green;">Back to Home</button>
    </a>
    <% } else { %>
    <a href="/course/add/<%= data.id %>">
        <button class="btn" style="background-color: green;">Add Course</button>
    </a>
    <% } %>

</body>

</html>
